<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" configfailurepolicy="continue" >
    <test name="test1">
        <!--<parameter name="minNumberOfImages" value="6" />-->
        <classes>
            <class name="com.ekassaauto.Registration">
                <methods>
                    <include name="inscriptionInTheSubmitButtonsIfAuthorizationIsAbsent"/>
                </methods>
            </class>
            <class name="com.ekassaauto.CpaTests" />
        </classes>


    </test>
</suite>