<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" configfailurepolicy="continue" >
    <test name="test1">
        <!--<parameter name="minNumberOfImages" value="6" />-->
        <packages>
            <package name="com.ekassaauto"/>
        <!--<classes>-->
            <!--<class name="com.ekassaauto.Registration">-->
                <!--&lt;!&ndash;<methods>&ndash;&gt;-->
                    <!--&lt;!&ndash;<include name="inscriptionInTheSubmitButtonsIfAuthorizationIsAbsent"/>&ndash;&gt;-->
                <!--&lt;!&ndash;</methods>&ndash;&gt;-->
            <!--</class>-->
            <!--<class name="com.ekassaauto.CpaTests" />-->
        <!--</classes>-->

        </packages>
    </test>
</suite>
        C:\Users\user\IdeaProjects\EkassaAuto\